name: Origin Price Plan 
on:
  push:
    branches: [ main ]
  pull_request:
    paths:
      - 'tests/*'
      - '.github/workflows/*'
jobs:
  priceplan:
    name: 'Price plan Spec'
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Cache Playwright browsers
      uses: actions/cache@v4
      with:
        path: ~/.cache/ms-playwright
        key: ${{ runner.os }}-playwright-${{ hashFiles('package.json') }}
        restore-keys: |
          ${{ runner.os }}-playwright-
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: |
        if [ ! -d ~/.cache/ms-playwright ]; then
        npx playwright install --with-deps
        else
          echo "Playwright browsers restored from cache"
        fi
    - name: Run Playwright tests
      run: npm run test:headlessqa
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 7
